<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IndexColorList</key>
	<array>
		<array>
			<dict>
				<key>r</key>
				<string>225</string>
				<key>g</key>
				<string>235</string>
				<key>b</key>
				<string>43</string>
			</dict>
			<dict>
				<key>r</key>
				<string>255</string>
				<key>g</key>
				<string>92</string>
				<key>b</key>
				<string>1</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>r</key>
				<string>0</string>
				<key>g</key>
				<string>167</string>
				<key>b</key>
				<string>235</string>
			</dict>
			<dict>
				<key>r</key>
				<string>6</string>
				<key>g</key>
				<string>49</string>
				<key>b</key>
				<string>157</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>r</key>
				<string>255</string>
				<key>g</key>
				<string>0</string>
				<key>b</key>
				<string>0</string>
			</dict>
			<dict>
				<key>r</key>
				<string>105</string>
				<key>g</key>
				<string>0</string>
				<key>b</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>r</key>
				<string>34</string>
				<key>g</key>
				<string>178</string>
				<key>b</key>
				<string>5</string>
			</dict>
			<dict>
				<key>r</key>
				<string>15</string>
				<key>g</key>
				<string>77</string>
				<key>b</key>
				<string>2</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>r</key>
				<string>0</string>
				<key>g</key>
				<string>234</string>
				<key>b</key>
				<string>235</string>
			</dict>
			<dict>
				<key>r</key>
				<string>37</string>
				<key>g</key>
				<string>128</string>
				<key>b</key>
				<string>136</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>r</key>
				<string>204</string>
				<key>g</key>
				<string>41</string>
				<key>b</key>
				<string>255</string>
			</dict>
			<dict>
				<key>r</key>
				<string>116</string>
				<key>g</key>
				<string>6</string>
				<key>b</key>
				<string>143</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>r</key>
				<string>35</string>
				<key>g</key>
				<string>132</string>
				<key>b</key>
				<string>109</string>
			</dict>
			<dict>
				<key>r</key>
				<string>0</string>
				<key>g</key>
				<string>255</string>
				<key>b</key>
				<string>198</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>r</key>
				<string>255</string>
				<key>g</key>
				<string>143</string>
				<key>b</key>
				<string>94</string>
			</dict>
			<dict>
				<key>r</key>
				<string>143</string>
				<key>g</key>
				<string>61</string>
				<key>b</key>
				<string>22</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>r</key>
				<string>0</string>
				<key>g</key>
				<string>255</string>
				<key>b</key>
				<string>6</string>
			</dict>
			<dict>
				<key>r</key>
				<string>49</string>
				<key>g</key>
				<string>118</string>
				<key>b</key>
				<string>45</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>r</key>
				<string>239</string>
				<key>g</key>
				<string>219</string>
				<key>b</key>
				<string>205</string>
			</dict>
			<dict>
				<key>r</key>
				<string>151</string>
				<key>g</key>
				<string>70</string>
				<key>b</key>
				<string>26</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>r</key>
				<string>255</string>
				<key>g</key>
				<string>252</string>
				<key>b</key>
				<string>0</string>
			</dict>
			<dict>
				<key>r</key>
				<string>255</string>
				<key>g</key>
				<string>255</string>
				<key>b</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>r</key>
				<string>255</string>
				<key>g</key>
				<string>0</string>
				<key>b</key>
				<string>172</string>
			</dict>
			<dict>
				<key>r</key>
				<string>111</string>
				<key>g</key>
				<string>21</string>
				<key>b</key>
				<string>108</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>r</key>
				<string>205</string>
				<key>g</key>
				<string>255</string>
				<key>b</key>
				<string>246</string>
			</dict>
			<dict>
				<key>r</key>
				<string>0</string>
				<key>g</key>
				<string>101</string>
				<key>b</key>
				<string>121</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>r</key>
				<string>146</string>
				<key>g</key>
				<string>207</string>
				<key>b</key>
				<string>0</string>
			</dict>
			<dict>
				<key>r</key>
				<string>0</string>
				<key>g</key>
				<string>101</string>
				<key>b</key>
				<string>121</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>r</key>
				<string>191</string>
				<key>g</key>
				<string>230</string>
				<key>b</key>
				<string>98</string>
			</dict>
			<dict>
				<key>r</key>
				<string>121</string>
				<key>g</key>
				<string>119</string>
				<key>b</key>
				<string>0</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>r</key>
				<string>230</string>
				<key>g</key>
				<string>207</string>
				<key>b</key>
				<string>98</string>
			</dict>
			<dict>
				<key>r</key>
				<string>107</string>
				<key>g</key>
				<string>106</string>
				<key>b</key>
				<string>34</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>r</key>
				<string>69</string>
				<key>g</key>
				<string>104</string>
				<key>b</key>
				<string>255</string>
			</dict>
			<dict>
				<key>r</key>
				<string>53</string>
				<key>g</key>
				<string>34</string>
				<key>b</key>
				<string>107</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>r</key>
				<string>183</string>
				<key>g</key>
				<string>90</string>
				<key>b</key>
				<string>182</string>
			</dict>
			<dict>
				<key>r</key>
				<string>45</string>
				<key>g</key>
				<string>86</string>
				<key>b</key>
				<string>168</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>r</key>
				<string>222</string>
				<key>g</key>
				<string>255</string>
				<key>b</key>
				<string>0</string>
			</dict>
			<dict>
				<key>r</key>
				<string>54</string>
				<key>g</key>
				<string>0</string>
				<key>b</key>
				<string>255</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>r</key>
				<string>96</string>
				<key>g</key>
				<string>255</string>
				<key>b</key>
				<string>0</string>
			</dict>
			<dict>
				<key>r</key>
				<string>255</string>
				<key>g</key>
				<string>192</string>
				<key>b</key>
				<string>0</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
